name: CI

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build wave_forms library crate
        run: cd wave_forms && cargo publish --locked
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO }}

      - name: Build cli binary
        run: cd cli && cargo build --release --bin sinusoidal

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: cli/target/release/sinusoidal
